HTML CSSResult Skip Results Iframe EDIT ON .parent {
  background-color: #ccc;
}

.child {
  width: 100px;
}

.child1 {
  background-color: red;
}
.child2 {
  background-color: blue;
}
.child3 {
  background-color: green;
}
.child4 {
  background-color: purple;
}
