HTML CSSResult Skip Results Iframe EDIT ON .parent {
  background-color: #ccc;
}

/* 能宗担当分 */
/* フロントエンド */
.frontend-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.frontend-wrapper-left {
  border: solid 3px #000000;
  text-align: left;
}

.frontend-wrapper-left ul {
  list-style: none;
}

.frontend-wrapper-left li {
  padding: 2px;
}

.frontend h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.frontend-wrapper-right {
  border: solid 3px #000000;
  text-align: center;
}

.frontend-wrapper-right a {
  text-decoration: none;
  background-color: blue;
  color: aliceblue;
  border-radius: 2px;
  padding: 15px 100px;
  font-weight: bold;
}

/* インターネット */
.internet-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

.internet-wrapper-left {
  text-align: center;
}

.InternetWork,
.Dns {
  border: solid 3px #000000;
  background-color: #ffdab9;
  padding: 5px 0;
  margin: 0 180px 0;
}

.InternetWork:hover {
  /* opacity: 0.7;
  color: #000000; */
}

.Http,
.Browsers {
  border: solid 3px #000000;
  background-color: #ffdab9;
  padding: 5px 0;
  margin: 10px 180px 0;
}

.Internet {
  border: solid 3px #000000;
  text-align: center;
  margin: 50px 180px 0;
  background-color: #ffff00;
  padding: 5px 0;
  font-weight: bold;
}

.internet-wrapper-right {
  text-align: center;
}

.Domain,
.Hosting {
  border: solid 3px #000000;
  background-color: #ffdab9;
  margin-top: 10px;
  padding: 5px 0;
  margin: 10px 180px 0;
}

/* HTML,CSS,Javascript */
.html-css-js-container {
  margin-top: 50px;
  text-align: center;
}

/* HTML */
.html-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.HtmlBasics {
  border: solid 3px #000000;
  background-color: #ffdab9;
  margin: 0 180px 0;
  padding: 5px 0;
}

.Semamtic,
.Validations,
.Conventions {
  border: solid 3px #000000;
  background-color: #ffdab9;
  margin: 10px 180px 0;
  padding: 5px 0;
}

.HTML {
  border: solid 3px #000000;
  background-color: #ffff00;
  font-weight: bold;
  margin: 50px 180px 0;
  padding: 5px 0;
}

.Accessibility {
  border: solid 3px #000000;
  background-color: #ffdab9;
  margin: 0 180px 0;
  padding: 5px 0;
}

.SEOBasics {
  border: solid 3px #000000;
  background-color: #ffdab9;
  margin: 10px 180px 0;
  padding: 5px 0;
}

/* CSS */
.css-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.css-wrapper-left {
  /* border: solid 3px #000000;
  background-color: #FFFF00; */
}

.CSS {
  border: solid 3px #000000;
  background-color: #ffff00;
  font-weight: bold;
  margin: 50px 180px 0;
  padding: 5px 0;
}

.CSSBasics {
  border: solid 3px #000000;
  background-color: #ffdab9;
  margin: 0px 10px 0;
  padding: 5px 0;
}

.css-outer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.MakeingLayouts,
.ResponsiveDesign {
  border: solid 3px #000000;
  background-color: #ffdab9;
  margin: 10px 10px 0;
  padding: 5px 0;
}

.MakingLayouts2 {
  border: solid 3px #000000;
  background-color: #ffdab9;
  margin-left: 30px;
  padding: 5px 0;
  text-align: center;
}

/* JavaScript */
.js-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Syntax {
  border: solid 3px #000000;
  background-color: #ffdab9;
  margin: 0 180px 0;
  padding: 5px 0;
}

.DOMManipulation,
.FetchAPIAjax,
.ED6ModularJavaScript,
.UnderatandTheConcepts {
  border: solid 3px #000000;
  background-color: #ffdab9;
  margin: 10px 180px 0;
  padding: 5px 0;
}

.UnderatandTheConcepts li {
  list-style: none;
}

.Javascript {
  border: solid 3px #000000;
  background-color: #ffff00;
  font-weight: bold;
  margin: 50px 180px 0;
  padding: 5px 0;
}

.js-outer-right {
}

/* フッター */
.footer {
  background-color: #000000;
}

.footer small {
  color: #828282;
}
